@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
    background: rgb(119,106,94);
 background: radial-gradient(circle, rgba(119,106,94,1) 0%, rgba(53,54,59,1) 100%, rgba(130,133,153,1) 100%);
   
    height: 100vh;
}


.font-lobster {
    font-family: 'Lobster', cursive;
}

.Btn{
    color: white;
    border: 1px solid white;
}


.background-img {
    z-index: -999;
    mask-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    
}
